@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800;900&family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background: $black-color;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0;
  z-index: 1000;

  .container {
    @include container;
    @include flex-center;
    justify-content: space-between;

    nav {
      @include flex-center;
      text-transform: uppercase;
      font-size: 1.6rem;

      .menu {
        @include flex-center;
        justify-content: space-between;

        li {
          margin-right: 4.8rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.04);
          }

          .menu-item {
            color: $primary-color;
            font-weight: 700; 
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $white-color;
            }
          }
        }
      }

      .btn-primary {
        @include btn-primary;
      }

      .menu-social {
        @include flex-center;
        margin-left: 4rem;
        gap: 3.4rem;

        img {
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: translateY(-5%);
            filter: brightness(90%);
          }
        }
      }
    }
  }
}

/* section hero */

main {
  .hero {
    background-image: url(../img/s-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;

    .container {
      @include container;
      @include flex-center;
      flex-direction: column;

      .title-box {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        max-width: 59.2rem;
        margin-top: 20rem;
        padding-bottom: 6rem;

        h1 {
          @include titles;
          text-align: center;

          span {
            color: $primary-color;
          }
        }

        h2 {
          color: rgba(255, 255, 255, 0.8);
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 6rem;
          text-align: center;
          margin-bottom: 2rem;
        }

        p {
          color: rgba(220, 246, 75, 0.8);
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.7rem;
          text-align: center;
        }

        .techs {
          @include flex-center;
          margin-top: 2.3rem;
          gap: 1.6rem;

          a {
            img {
              transition: all 0.3s ease-in-out;

              &:hover {
                transform: translateY(-12%);
              }
            }
          }
        }

        .btn-empty {
          @include btn-empty;
          margin-top: 4rem;
          padding: 1rem 5.6rem;
        }
      }
    }
  }

  /* section success */
  .success {
    padding: 14.4rem 0;
    margin: 0 auto;;
    .container {
      @include container;
      display: flex;
      align-items: center;
      gap: 4.4rem;

      .title-success {
        .tag {
          @include tag;
        }

        h2 {
          @include titles;

          span {
            color: $primary-color;
            font-weight: 800;
          }
        }
      }

      .cards {
        display: flex;

        .card {
          background: $white-color;
          width: 100%;
          max-width: 27.9rem;
          height: 30.4rem;
          border-radius: 0.4rem;
          margin-right: 3.1rem;
          cursor: pointer;

          &.active {
            background: $primary-color;
          }

          .card-title {
            margin: 5rem 0;
            padding: 0 14.5rem 0 1.4rem;

            h3 {
              @include titles;
              color: $black-color;
              font-weight: 300;
              margin-top: 0;
              margin-bottom: 5.5rem;
            }
          }

          .card-info {
            padding-left: 1.4rem;
            p {
              font-family: Inter;
              font-size: 3.2rem;
              font-weight: 300;
              line-height: 3.9rem;
            }
          }
        }
      }
    }
  }

  /* section about me */
  .about {
    background: $black-color-medium;
    padding: 6rem 0;
    .container {
      @include container;
      @include flex-center;
      justify-content: space-between;

      .about-me {
        @include flex-center;
        flex-direction: column;
        align-items: start;
        width: 100%;
        max-width: 71rem;

        h2 {
          @include titles;
          text-transform: uppercase;
          font-weight: 900;
          margin-bottom: 2.7rem;

          span {
            color: $primary-color;
          }
        }

        p {
          color:rgba(255, 255, 255, 0.83);
          font-size: 1.6rem;
          line-height: 2.4rem;
        }

        ul {
          display: flex;
          align-items: center;
          gap: 1.6rem;
          margin-top: 3.7rem;
        }

      }

      .picture {
        img {
          border-radius: 4px;
        }
      }
    }
  }

  /* section cases  */
  .cases {
    padding: 5rem;
    .container {
      @include container;

      h2 {
        @include titles;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 8rem;

        span {
          color: $primary-color;
        }
      }

      .cases-cards {
        @include flex-center;
        justify-content: space-between;
     
        .case-card {
          max-width: 360px;
          border: 2px solid $primary-color;
          border-radius: 4px;
          padding: 3.8rem 3rem;
          text-align: left;

          .img {
            position: relative;
            .line {
              border: 1px solid $primary-color;
              border-radius: 4px;
              width: calc(100% + 2.4rem);
              height: calc(100% + 2.4rem);
              transform: rotate(-1.93deg);
              position: absolute;
              top: -1.2rem;
              left: calc(50% - 100%/2 - 12px)
            }

            img {
              border-radius: 4px;
              width: 100%;
            }
          }

          .language {
            margin-bottom: 2rem;

            ul {
              @include flex-center;
              justify-content: flex-start;
              gap: 1rem;
              margin-top: 4rem;
        
              
              li {
                color:$primary-color;
                padding: 0.5rem 1rem;
                border: 1px solid $primary-color;
                border-radius: 4px;
                font-size: 1.6rem;
                text-transform: uppercase;
              }
            }
          }

          p {
            color:rgba(220, 246, 75, 0.8);
            font-size: 1.6rem;

            strong {
              text-transform: uppercase;
            }
          }
          
          .btn-empty {
            @include btn-empty;
            @include flex-center;
            width: 100%;
            margin-top: 2rem;
            text-align: center;
          }
        }
      }
    }

    .another-projects {
      @include flex-center;
      margin-top: 3rem;

      .btn-empty {
        @include btn-empty;
      }
    }
  }

}

footer {
  background: $black-color-medium;

  .container {
    @include container;
    @include flex-center;

    .copy {
      padding: 5.2rem 0;

      p {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
      }
    }
  }
}
