@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800;900&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background: #000000;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0;
  z-index: 1000;
}

header .container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

header .container nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container nav .menu li {
  margin-right: 4.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .container nav .menu li:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

header .container nav .menu li .menu-item {
  color: #dcf64b;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .container nav .menu li .menu-item:hover {
  color: #ffffff;
}

header .container nav .btn-primary {
  border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #dcf64b;
  color: #000000;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .container nav .btn-primary:hover {
  background: #ffffff;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

header .container nav .menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
  gap: 3.4rem;
}

header .container nav .menu-social img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .container nav .menu-social img:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

/* section hero */
main {
  /* section success */
  /* section about me */
  /* section cases  */
}

main .hero {
  background-image: url(../img/s-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
}

main .hero .container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .hero .container .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 59.2rem;
  margin-top: 20rem;
  padding-bottom: 6rem;
}

main .hero .container .title-box h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #ffffff;
  margin-top: 2rem;
  text-align: center;
}

main .hero .container .title-box h1 span {
  color: #dcf64b;
}

main .hero .container .title-box h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 6rem;
  text-align: center;
  margin-bottom: 2rem;
}

main .hero .container .title-box p {
  color: rgba(220, 246, 75, 0.8);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  text-align: center;
}

main .hero .container .title-box .techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.3rem;
  gap: 1.6rem;
}

main .hero .container .title-box .techs a img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .hero .container .title-box .techs a img:hover {
  -webkit-transform: translateY(-12%);
          transform: translateY(-12%);
}

main .hero .container .title-box .btn-empty {
  border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #dcf64b;
  color: #000000;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid #dcf64b;
  color: #dcf64b;
  font-size: 1.6rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 4rem;
  padding: 1rem 5.6rem;
}

main .hero .container .title-box .btn-empty:hover {
  background: #ffffff;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

main .hero .container .title-box .btn-empty:hover {
  background: #dcf64b;
  color: #000000;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

main .success {
  padding: 14.4rem 0;
  margin: 0 auto;
}

main .success .container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.4rem;
}

main .success .container .title-success .tag {
  border-radius: 5rem;
  padding: 0.6rem 2rem;
  background: #ffffff;
  font-size: 1.2rem;
  font-weight: 300;
}

main .success .container .title-success h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #ffffff;
  margin-top: 2rem;
}

main .success .container .title-success h2 span {
  color: #dcf64b;
  font-weight: 800;
}

main .success .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .success .container .cards .card {
  background: #ffffff;
  width: 100%;
  max-width: 27.9rem;
  height: 30.4rem;
  border-radius: 0.4rem;
  margin-right: 3.1rem;
  cursor: pointer;
}

main .success .container .cards .card.active {
  background: #dcf64b;
}

main .success .container .cards .card .card-title {
  margin: 5rem 0;
  padding: 0 14.5rem 0 1.4rem;
}

main .success .container .cards .card .card-title h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #ffffff;
  margin-top: 2rem;
  color: #000000;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 5.5rem;
}

main .success .container .cards .card .card-info {
  padding-left: 1.4rem;
}

main .success .container .cards .card .card-info p {
  font-family: Inter;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 3.9rem;
}

main .about {
  background: #0c0c0c;
  padding: 6rem 0;
}

main .about .container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .about .container .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  max-width: 71rem;
}

main .about .container .about-me h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #ffffff;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 2.7rem;
}

main .about .container .about-me h2 span {
  color: #dcf64b;
}

main .about .container .about-me p {
  color: rgba(255, 255, 255, 0.83);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

main .about .container .about-me ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  margin-top: 3.7rem;
}

main .about .container .picture img {
  border-radius: 4px;
}

main .cases {
  padding: 5rem;
}

main .cases .container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

main .cases .container h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: #ffffff;
  margin-top: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 8rem;
}

main .cases .container h2 span {
  color: #dcf64b;
}

main .cases .container .cases-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cases .container .cases-cards .case-card {
  max-width: 360px;
  border: 2px solid #dcf64b;
  border-radius: 4px;
  padding: 3.8rem 3rem;
  text-align: left;
}

main .cases .container .cases-cards .case-card .img {
  position: relative;
}

main .cases .container .cases-cards .case-card .img .line {
  border: 1px solid #dcf64b;
  border-radius: 4px;
  width: calc(100% + 2.4rem);
  height: calc(100% + 2.4rem);
  -webkit-transform: rotate(-1.93deg);
          transform: rotate(-1.93deg);
  position: absolute;
  top: -1.2rem;
  left: calc(50% - 100%/2 - 12px);
}

main .cases .container .cases-cards .case-card .img img {
  border-radius: 4px;
  width: 100%;
}

main .cases .container .cases-cards .case-card .language {
  margin-bottom: 2rem;
}

main .cases .container .cases-cards .case-card .language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  margin-top: 4rem;
}

main .cases .container .cases-cards .case-card .language ul li {
  color: #dcf64b;
  padding: 0.5rem 1rem;
  border: 1px solid #dcf64b;
  border-radius: 4px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

main .cases .container .cases-cards .case-card p {
  color: rgba(220, 246, 75, 0.8);
  font-size: 1.6rem;
}

main .cases .container .cases-cards .case-card p strong {
  text-transform: uppercase;
}

main .cases .container .cases-cards .case-card .btn-empty {
  border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #dcf64b;
  color: #000000;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid #dcf64b;
  color: #dcf64b;
  font-size: 1.6rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

main .cases .container .cases-cards .case-card .btn-empty:hover {
  background: #ffffff;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

main .cases .container .cases-cards .case-card .btn-empty:hover {
  background: #dcf64b;
  color: #000000;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

main .cases .another-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

main .cases .another-projects .btn-empty {
  border-radius: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  background: #dcf64b;
  color: #000000;
  padding: 1rem 2.6rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid #dcf64b;
  color: #dcf64b;
  font-size: 1.6rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

main .cases .another-projects .btn-empty:hover {
  background: #ffffff;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

main .cases .another-projects .btn-empty:hover {
  background: #dcf64b;
  color: #000000;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

footer {
  background: #0c0c0c;
}

footer .container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .copy {
  padding: 5.2rem 0;
}

footer .container .copy p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */